## Lab Test Result
This is an object representing a lab test result. It is referenced by a lab test panel.

### Get a specific lab test result
TODO

### List lab test results
TODO

### Create a lab test result
TODO

### Update a lab test result
TODO

### Delete a lab test result
TODO
